.container {
  @apply flex flex-col relative transition-all duration-300;

  padding-top: 4rem;
}

.logo {
  @apply flex font-bold text-[22px] gap-[1rem] items-center justify-center text-3xl h-[4%];
}

.logo > img {
  height: 3rem;
  height: 3rem;
}

.logo .pink {
  color: var(--pink);
}

.navbar {
  @apply flex flex-col mt-16 gap-16;
}

.item {
  @apply flex items-center gap-4 text-xl h-10 ml-8 relative transition-all duration-300 cursor-pointer rounded-md;
}

.active {
  @apply bg-[var(--activeItem)] ml-0;
}

.active::before {
  content: '';
  margin-right: calc(1rem - 8px);

  @apply w-[8px] h-full bg-[var(--pink)];
}
